/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
body
    {
        background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

h1  
    {
        background-color: #fb4040;
        box-shadow: 10px 5px 5px #74c9f1;
        color: purple;
        text-align: center;
        text-shadow: 1px 0 10px yellow; 
    }
    
table
    {
        table-layout: auto;
        width: 100%;
    }

td
    {
        align-items: center;
        align-content: center;
        border-width: 3px;
        border-style: solid;
        border-color: black;
    }

div
    {
        margin: auto;
    }

#jordans-1
    {
        height: 400px;
        width: 600px;
        border-style: solid;
        border-width: 2px;
        border-color: blue;
    }

#row1-section2
    {
        height: 150px;
        width: 600px;
        background-color: #74c9f1;
    }

#jordans-1-desc
    {
        color: white;
        font-style: oblique;
        font-size: 1.5rem;
    }

#jordans-2
    {
        height: 400px;
        width: 600px;
        border-style: solid;
        border-width: 2px;
        border-color: red;
    }

#row2-section2
    {
        height: 150px;
        width: 600px;
        background-color: red;
    }

#jordans-2-desc
    {
        color: white;
        font-style: oblique;
        font-size: 1.5rem;
    }